.logo {
	display: block;
	width: 100px;
	height: auto;
	margin-bottom: 2rem;
}

.container ul {
	display: flex;
	gap: 20px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	align-items: center;
}

.linkItem {
	display: flex;
	align-items: center;
	gap: 5px;
}
